# Copied meta-data from svn #
#############################
.svn

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*~
# files created by text editors #
#################################
*.swp

# files created by data recording #
###################################
*.wav
*.pkl
*.dat
*.npy
*.zip

# ROS specific files and folders #
##################################
bin
build
msg_gen
srv_gen

# specific to the hrl_haptic_manipulation_in_clutter git repository #
#####################################################################
#hrl_software_simulation_darpa_m3/bin

# hrl_base_selection stuff #
############################
hrl_base_selection/src/hrl_base_selection/*

# hrl_head_registration stuff #
###############################
hrl_head_registration/src/hrl_head_registration/*
