<?xml version="1.0" ?>
<launch>

  <arg name="mount_loc" default="no"/>
  <arg name="arm"       default="r" />

  <include file='$(find hrl_realsense_camera)/launch/$(arg mount_loc)_mount_frame.launch' />
  <include file='$(find hrl_realsense_camera)/launch/realsense_sr300_copy.launch' />
  <!--include file='$(find realsense_camera)/launch/realsense_sr300.launch' /-->


</launch>
