<launch>
    <arg name="subject" />
    <node pkg="hrl_head_tracking" name="r_head_tracking_srv" type="head_tracking_srv"
          output="screen" args="$(find hrl_head_tracking)/data/$(arg subject)_r_face.bag">
        <param name="max_iters" value="300" />
        <param name="color_weight" value="0.0" />
        <param name="icp_max_corresp" value="0.3" />
        <param name="icp_trans_eps" value="0.0000000001" />
        <param name="trim_radius" value="0.13" />
        <param name="model_radius" value="0.03" />
        <param name="color_std_thresh" value="4.0" />
        <param name="hue_weight" value="5.0" />
        <remap from="/head_registration" to="/head_registration_r" />
    </node>
    <node pkg="hrl_head_tracking" name="l_head_tracking_srv" type="head_tracking_srv"
          output="screen" args="$(find hrl_head_tracking)/data/$(arg subject)_l_face.bag">
        <param name="max_iters" value="300" />
        <param name="color_weight" value="0.0" />
        <param name="icp_max_corresp" value="0.3" />
        <param name="icp_trans_eps" value="0.0000000001" />
        <param name="trim_radius" value="0.13" />
        <param name="model_radius" value="0.03" />
        <param name="color_std_thresh" value="4.0" />
        <param name="hue_weight" value="5.0" />
        <remap from="/head_registration" to="/head_registration_l" />
    </node>
    <node pkg="hrl_face_adls" name="registration_loader" type="registration_loader.py"
          output="screen" args="$(find hrl_ellipsoidal_control)/data/$(arg subject)_r_ellipsoid_registration.bag $(find hrl_ellipsoidal_control)/data/$(arg subject)_l_ellipsoid_registration.bag" >
        <remap from="/feedback" to="/wt_log_out" />
        <param name="registration_prefix" value="$(find hrl_ellipsoidal_control)/data/$(arg subject)" />
        <rosparam>
            registration_files:
                shaving:
                    r: "_shaver_r_ellipsoid_registration.bag"
                    l: "_shaver_l_ellipsoid_registration.bag"
                scratching:
                    r: "_scratcher_r_ellipsoid_registration.bag"
                    l: "_scratcher_l_ellipsoid_registration.bag"
                feeding:
                    r: "_spoon_r_ellipsoid_registration.bag"
                    l: "_spoon_l_ellipsoid_registration.bag"
        </rosparam>
    </node>
    <node pkg="hrl_head_tracking" name="head_alignment_confirm" type="head_alignment_confirm"
          output="screen" respawn="True" />
</launch>
