<launch>
    <arg name="subject" />
    <arg name="arm_traj_dir" />
    
    <node pkg="hrl_pr2_traj_playback" name="l_arm_pose_move_controller" type="traj_playback.py"
          output="screen" args="-v -l -c 'l_arm_controller'" >
        <remap from="/trajectory_playback_l/feedback" to="/wt_log_out" />
        <param name="traj_directory" value="$(arg arm_traj_dir)" />
    </node>
    <node pkg="hrl_pr2_traj_playback" name="r_arm_pose_move_controller" type="traj_playback.py"
          output="screen" args="-v -r -c 'r_arm_controller'" >
        <remap from="/trajectory_playback_r/feedback" to="/wt_log_out" />
        <param name="traj_directory" value="$(arg arm_traj_dir)" />
    </node>

    <!-- Params: [is_reverse, setup_velocity, traj_rate_mult, filename] -->
    <rosparam>
        face_adls_traj_modes:
            ["Shaving Right Cheek", "Shaving Left Cheek", "Setup for AR Servoing"]
        face_adls_traj_files:
            "Shaving Right Cheek" :
                "Right" :
                    "Untuck mirror to view" : 
                        [False, 0.2, 0.8, "r_arm_mirror_setup_r.pkl"]
                    "Retuck mirror for base movement" : 
                        [True, 0.2, 0.8, "r_arm_mirror_setup_r.pkl"]
                "Left" :
                    "Untuck arm to face" : 
                        [False, 0.2, 0.8, "l_arm_shaving_setup_r.pkl"]
                    "Retuck arm for base movement" : 
                        [True, 0.2, 0.8, "l_arm_shaving_setup_r.pkl"]
            "Shaving Left Cheek" :
                "Right" :
                    "Untuck mirror to view" : 
                        [False, 0.2, 0.8, "r_arm_mirror_setup_l.pkl"]
                    "Retuck mirror for base movement" : 
                        [True, 0.2, 0.8, "r_arm_mirror_setup_l.pkl"]
                "Left" :
                    "Untuck arm to face" : 
                        [False, 0.2, 0.8, "l_arm_shaving_setup_l.pkl"]
                    "Retuck arm for base movement" : 
                        [True, 0.2, 0.8, "l_arm_shaving_setup_l.pkl"]
            "Setup for AR Servoing" :
                "Right" :
                    "Move to side for servo approach" : 
                        [False, 0.3, 0.8, "r_arm_servo_setup2.pkl"]
                "Left" :
                    "Move to side for servo approach" : 
                        [False, 0.3, 0.8, "l_arm_servo_setup.pkl"]
    </rosparam>
</launch>
