<launch>

    <node name="kinect_throttle" pkg="topic_tools" type="throttle" args="messages /head_mount_kinect/qhd/image_color 0.25 kinect_throttled" />
    <node name="joints_throttle" pkg="topic_tools" type="throttle" args="messages /joint_states 4 joint_states_throttled" />
    <node name="video_bag" pkg="rosbag" type="record" args="-j -o /home/ari/trial_logs/video --topic /kinect_throttled --size 250 --split" />
    <node name="data_bag" pkg="rosbag" type="record" args="-j -o /home/ari/trial_logs/data --size 250 --split
                                                           --topic
                                                            /ar_pose_marker
                                                            /base_controller/command
                                                            /head_traj_controller/command
                                                            /l_arm_controller/command
                                                            /l_arm_controller/command
                                                            /torso_controller/command
                                                            /base_goal_pose_viz
                                                            /interface_log
                                                            /left_arm/haptic_mpc/current_weights
                                                            /left_arm/haptic_mpc/goal_pose
                                                            /left_arm/haptic_mpc/goal_pose_array
                                                            /left_arm/haptic_mpc/goal_posture
                                                            /left_arm/haptic_mpc/gripper_pose
                                                            /left_arm/haptic_mpc/in_deadzone
                                                            /left_arm/haptic_mpc/joint_trajectory
                                                            /left_arm/haptic_mpc/traj_pose
                                                            /left_arm/haptic_mpc/weights
                                                            /right_arm/haptic_mpc/current_weights
                                                            /right_arm/haptic_mpc/goal_pose
                                                            /right_arm/haptic_mpc/goal_pose_array
                                                            /right_arm/haptic_mpc/goal_posture
                                                            /right_arm/haptic_mpc/gripper_pose
                                                            /right_arm/haptic_mpc/in_deadzone
                                                            /right_arm/haptic_mpc/joint_trajectory
                                                            /right_arm/haptic_mpc/traj_pose
                                                            /right_arm/haptic_mpc/weights
                                                            /grasping/left_gripper
                                                            /grasping/right_gripper
                                                            /pddl_tasks/active_domains
                                                            /pddl_tasks/current_problem
                                                            /pddl_tasks/pick/state
                                                            /pddl_tasks/pick_and_place/state
                                                            /pddl_tasks/place/state
                                                            /pddl_tasks/realtime_base_selection/state
                                                            /pddl_tasks/state_updates
                                                            /pddl_tasks/tool_pick/state
                                                            /perform_task
                                                            /pixel3d
                                                            /pr2_fabric_base_sensor/zero_sensor
                                                            /pr2_fabric_base_sensor/disable_sensor
                                                            /pr2_fabric_base_sensor/enable_sensor
                                                            /pr2_fabric_base_sensor/taxels/data_valid
                                                            /pr2_fabric_base_sensor/taxels/forces
                                                            /pr2_fabric_l_upperarm_sensor/zero_sensor
                                                            /pr2_fabric_l_upperarm_sensor/disable_sensor
                                                            /pr2_fabric_l_upperarm_sensor/enable_sensor
                                                            /pr2_fabric_l_upperarm_sensor/taxels/data_valid
                                                            /pr2_fabric_l_upperarm_sensor/taxels/forces
                                                            /pr2_fabric_l_forearm_sensor/zero_sensor
                                                            /pr2_fabric_l_forearm_sensor/disable_sensor
                                                            /pr2_fabric_l_forearm_sensor/enable_sensor
                                                            /pr2_fabric_l_forearm_sensor/taxels/data_valid
                                                            /pr2_fabric_l_forearm_sensor/taxels/forces
                                                            /pr2_fabric_r_upperarm_sensor/zero_sensor
                                                            /pr2_fabric_r_upperarm_sensor/disable_sensor
                                                            /pr2_fabric_r_upperarm_sensor/enable_sensor
                                                            /pr2_fabric_r_upperarm_sensor/taxels/data_valid
                                                            /pr2_fabric_r_upperarm_sensor/taxels/forces
                                                            /pr2_fabric_r_forearm_sensor/zero_sensor
                                                            /pr2_fabric_r_forearm_sensor/disable_sensor
                                                            /pr2_fabric_r_forearm_sensor/enable_sensor
                                                            /pr2_fabric_r_forearm_sensor/taxels/data_valid
                                                            /pr2_fabric_r_forearm_sensor/taxels/forces
                                                            /web_heartbeat
                                                            /web_heartbeat_reply
                                                            /web_teleop/current_mode
                                                            /head_sweep_action/cancel
                                                            /head_sweep_action/feedback
                                                            /head_sweep_action/goal
                                                            /head_sweep_action/result
                                                            /head_sweep_action/status
                                                            /merge_pointclouds/merged_points
                                                            /head_traj_controller/joint_trajectory_action/feedback
                                                            /head_traj_controller/joint_trajectory_action/goal
                                                            /head_traj_controller/joint_trajectory_action/result
                                                            /head_traj_controller/joint_trajectory_action/status
                                                            /head_traj_controller/point_head_action/cancel
                                                            /head_traj_controller/point_head_action/feedback
                                                            /head_traj_controller/point_head_action/goal
                                                            /head_traj_controller/point_head_action/result
                                                            /head_traj_controller/point_head_action/status
                                                            /left_arm/overhead_grasp/cancel
                                                            /left_arm/overhead_grasp/feedback
                                                            /left_arm/overhead_grasp/goal
                                                            /left_arm/overhead_grasp/result
                                                            /left_arm/overhead_grasp/status
                                                            /left_arm/overhead_place/cancel
                                                            /left_arm/overhead_place/feedback
                                                            /left_arm/overhead_place/goal
                                                            /left_arm/overhead_place/result
                                                            /left_arm/overhead_place/status
                                                            /right_arm/overhead_grasp/cancel
                                                            /right_arm/overhead_grasp/feedback
                                                            /right_arm/overhead_grasp/goal
                                                            /right_arm/overhead_grasp/result
                                                            /right_arm/overhead_grasp/status
                                                            /right_arm/overhead_place/cancel
                                                            /right_arm/overhead_place/feedback
                                                            /right_arm/overhead_place/goal
                                                            /right_arm/overhead_place/result
                                                            /right_arm/overhead_place/status
                                                            /tuck_arms/cancel
                                                            /tuck_arms/feedback
                                                            /tuck_arms/goal
                                                            /tuck_arms/result
                                                            /tuck_arms/status
                                                           "/>

</launch>
