<launch>

  <arg name="fname" default="feeding_hrl"/>

  <!--node pkg="topic_tools" type="throttle" name="kinect_throttle"
        args="messages /head_mount_kinect/hd/points 0.05" /-->
  <node pkg="topic_tools" type="throttle" name="tf_throttle"
        args="messages /tf 20" />
  <node pkg="topic_tools" type="throttle" name="joint_states_throttle"
        args="messages /joint_states 20" />
  <node pkg="topic_tools" type="throttle" name="netft_data_throttle"
        args="messages /netft_data 20" />

  
  <!--node pkg="rosbag" type="record" name="rosbag" args="record -o
                                                       $(find
                                                       hrl_manipulation_task)/data/$(arg
                                                       fname) 
                                                       /tf_throttle
                                                       /joint_states_throttle
                                                       /haptic_mpc
                                                       /right/haptic_mpc
                                                       /hrl_manipulation_task
                                                       /netft_data_throttle
                                                       /manipulation_task
                                                       /feeding
                                                       pr2_fabric_l_forearm_sensor
                                                       pr2_fabric_l_upperarm_sensor
                                                       pr2_fabric_r_forearm_sensor
                                                       pr2_fabric_r_upperarm_sensor
                                                       /SR300/rgb/image_raw
                                                       /SR300/rgb/image_color
                                                       /SR300/rgb/camera_info
                                                       /SR300/depth_registered/image
                                                       /SR300/depth_registered/camera_info
                                                       /head_mount_kinect/hd/points
                                                       /head_mount_kinect/hd/camera_info
                                                       " output="screen"/>
</launch-->



<!--                                                       /pressure/r_gripper_motor
                                                       /head_traj_controller/state
                                                       /l_arm_controller
                                                       /r_arm_controller
                                                     /ar_pose_marker
                                                     HarkSrcFFT/all
                                                       julius_recog_cmd
    -->
