.cart-ctrl-container {
    position: absolute;
    background-color: rgba(0,0,0,0.20);
    border-radius: 50%;
    bottom: 40px;
    width: 200px;
    height: 200px;
}

.away-button {
    position: absolute;
    top: 0px;
    left:25%;
    display: block;
    height: 25%;
    width: 50%;
    background-image: url("./icons/arrow-away.png");
}

.toward-button {
    position: absolute;
    bottom: 0px;
    left: 25%;
    display: block;
    height: 25%;
    width: 50%;
    background-image: url("./icons/arrow-toward.png");
}
.target-trans {
    position:absolute;
    left:30%;
    top:30%;
    height: 40%;
    width: 40%;
    display: block;
    border-radius: 50%;
    background: url("./icons/arrow-drag.png"), radial-gradient( rgba(254,206,47,0.95) 50%, rgba(0,0,0,0.87) 100%);
    background-size: 99% 99%;
    background-repeat: no-repeat;
    background-position: center center;
}

.target-rot {
    position:absolute;
    left:30%;
    top:30%;
    height: 40%;
    width: 40%;
    display: block;
    border-radius: 50%;
    background: url("./icons/arrow-rotate.png"), radial-gradient( rgba(254,206,47,0.95) 50%, rgba(0,0,0,0.87) 100%);
    background-size: 99% 99%;
    background-repeat: no-repeat;
    background-position: center center;
}
