#select-focus-toggle-label{
    width: 80%;
    margin-left: 10%;
}

#speedOptions {
    display:none; /* Do not display initially */
    margin-left: 2%;
}

#speedOptions label{
    width: 24%;
}

#speedOptions-buttons .ui-button-text{
   padding: 0.14em 0.14em; 
   font-size: 1.0em;
}

#speedOptions-buttons{
    width: 100%;
}

#speedOptions-form{
    width: 100%;
}

#posrot-set label{
    width: 48%;
    margin-bottom: 0.3em;
}

#posrot-set .ui-button-text{
    padding: 0.2em 1em;
}

#posrot-set{
    margin-left:2%;
    margin-right:2%;
}

#toward-button {
   font-size: x-large;
   position: absolute;
   left: 24.6%;
   bottom: 16%;
   height: 12%;
   width: 50%;
   -webkit-clip-path: circle( 93% at center -177%);
   opacity: 0.5;
}

#away-button {
   font-size: x-large;
   position: absolute;
   left: 24.7%;
   top: 15.4%;
   height: 12%;
   width: 50%;
   -webkit-clip-path: circle( 93% at center 279%);
   opacity: 0.5;
}

#ctrl-ring > .arrow{
    position: absolute;
    height: 0px;
    width: 0px;
    cursor: pointer;
    pointer-events:none;
}

#ctrl-ring > .arrow.left.default{
    top: calc(50% - 10px);
    left: 5%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid rgba(76, 48, 19, 0.87);
}

#ctrl-ring > .arrow.left.active{
    top: calc(50% - 10px);
    left: 5%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid rgba(0, 116, 199, 0.5);
}

#ctrl-ring > .arrow.right.default{
    top: calc(50% - 10px);
    right: 5%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid rgba(76, 48, 19, 0.87);
}

#ctrl-ring > .arrow.right.active{
    top: calc(50% - 10px);
    right: 5%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid rgba(0, 116, 199, 0.5);
}

#ctrl-ring > .arrow.up.default{
    top: 5%;
    left: calc(50% - 10px);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 20px solid rgba(76, 48, 19, 0.87);
}

#ctrl-ring > .arrow.up.active{
    top: 5%;
    left: calc(50% - 10px);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 20px solid rgba(0, 116, 199, 0.5);
}

#ctrl-ring > .arrow.down.default{
    bottom: 5%;
    left: calc(50% - 15px);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 20px solid rgba(76, 48, 19, 0.87);
}

#ctrl-ring > .arrow.down.active{
    bottom: 5%;
    left: calc(50% - 15px);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 20px solid rgba(0, 116, 199, 0.5);
}

#ctrl-ring > .center{
    position:absolute;
    top:15%;
    left:15%;
    height: 70%;
    width:70%;
    border-radius: 50%;
    cursor: default;
}

#ctrl-ring.active{
    border:solid 1px rgba(0,0,0,0.94);
    box-shadow: inset 0px 2px 0px #888888;
    background: radial-gradient(closest-side, 
    rgba(0,0,0,0) 70%,
    rgba(0, 0, 0, 0.45) 70%,
    rgba(255, 245, 206, 0.60) 71%,
    rgba(255, 2250, 245, 0.60) 100%);    
}

#ctrl-ring.default {
    border: 1px solid #d19405;
    box-shadow: 0px 2px 0px  #888888;
    background: radial-gradient(closest-side, 
    rgba(0,0,0,0) 70%,
    rgba(209, 148, 5, 0.4) 0%,
    rgba(255, 233, 146, 0.55) 71%,
    rgba(255, 226, 111, 0.58) 100%);   
}

#ctrl-ring {
    position: absolute;
    top:calc(1% - 1px);
    left:calc(1% - 1px);
    height: calc(98% - 2px);
    width: calc(98% - 2px);
    border-radius:50%;
    cursor: pointer;
}

#armCtrlContainer {
    height: 100%;
    width: 56.25%;
    position: absolute;
    left: 21.875%;    
    bottom: 0%;
}

.cart-ctrl-container {
    position: absolute;
/*    background-color: rgba(0,0,0,0.20);
    border-radius: 50%;*/
    bottom: 60px;
    width: 60%;
    height: 60%;
    top:20%;
    left:20%;
/*    width: 200px;
    height: 200px;*/
}

.left-button {
    position: absolute;
    top: 25%;
    left:0%;
    display: block;
    height: 50%;
    width: 15%%;
    opacity: 0.8;
 /*   background-image: url("./icons/arrow-away.png");*/
}
.right-button {
    position: absolute;
    top: 25%;
    right:0%;
    display: block;
    height: 50%;
    width: 15%;
    opacity: 0.8;
/*    background-image: url("./icons/arrow-away.png");*/
}
.up-button {
    position: absolute;
    top: 0px;
    left:25%;
    display: block;
    height: 15%;
    width: 50%;
    opacity: 0.8;
/*    background-image: url("./icons/arrow-away.png");*/
}
.down-button {
    position: absolute;
    bottom: 0px;
    left:25%;
    display: block;
    height: 15%;
    width: 50%;
    opacity: 0.8;
/*    background-image: url("./icons/arrow-away.png");*/
}
.away-button {
    position: absolute;
    top: 0px;
    left:0%;
    display: block;
    height: 15%;
    width: 25%;
    background-image: url("./icons/arrow-away.png");
    background-size: 100% 100%;
    opacity: 0.8;
}

.toward-button {
    position: absolute;
    line-height:
    top: 0px;
    right: 0%;
    display: block;
    height: 15%;
    width: 25%;
    background-image: url("./icons/arrow-toward.png");
    background-size: 100% 100%;
    opacity: 0.8;
}

.cw-button {
    position: absolute;
    top: 0px;
    left:0%;
    display: block;
    height: 15%;
    width: 20%;
    transform:scaleY(-1);
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-image: url("./icons/rot-ccw.png");
    opacity: 0.8;
}

.ccw-button {
    position: absolute;
    top: 0px;
    right: 0%;
    display: block;
    height: 15%;
    width: 20%;
    transform:scaleY(-1);
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-image: url("./icons/rot-cw.png");
    opacity: 0.8;
}

.rotLeft-button {
    position: absolute;
    top: 25%;
    left:0%;
    display: block;
    height: 60%%;
    width: 15%;
    opacity: 0.8;
}

.rotRight-button {
    position: absolute;
    bottom: 20%;
    right:0%;
    display: block;
    height: 60%;
    width: 15%;
    opacity: 0.8;
}

.rotUp-button {
    position: absolute;
    top: 0px;
    left:20%;
    display: block;
    height: 15%;
    width: 60%;
    opacity: 0.8;
}

.rotDown-button {
    position: absolute;
    bottom: 0px;
    left:25%;
    display: block;
    height: 15%;
    width: 60%;
    opacity: 0.8;
}

.target-trans {
    position:absolute;
    left:30%;
    top:30%;
    height: 40%;
    width: 40%;
    display: block;
    border-radius: 50%;
/*    background: radial-gradient( rgba(215,43,62,0.7) 5%,  rgba(200,50,50,0.8) 85%, rgba(15,15,15,0.5) 100%);*/
    background-image: url("./icons/arrow-drag.png");
    background-color: rgba(215, 43, 62, 0.85);
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center center;
}

.target-rot {
    position:absolute;
    left:30%;
    top:30%;
    height: 40%;
    width: 40%;
    display: block;
    border-radius: 50%;
    background-image: url("./icons/arrow-rotate.png");
    background-color: rgba(215, 43, 62, 0.85);
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center center;
}
