.cart-ctrl-container {
    position: absolute;
/*    background-color: rgba(0,0,0,0.20);
    border-radius: 50%;*/
    bottom: 60px;
    width: 60%;
    height: 60%;
    top:20%;
    left:20%;
/*    width: 200px;
    height: 200px;*/
}

.left-button {
    position: absolute;
    top: 25%;
    left:0%;
    display: block;
    height: 50%;
    width: 15%%;
    opacity: 0.8;
 /*   background-image: url("./icons/arrow-away.png");*/
}
.right-button {
    position: absolute;
    top: 25%;
    right:0%;
    display: block;
    height: 50%;
    width: 15%;
    opacity: 0.8;
/*    background-image: url("./icons/arrow-away.png");*/
}
.up-button {
    position: absolute;
    top: 0px;
    left:25%;
    display: block;
    height: 15%;
    width: 50%;
    opacity: 0.8;
/*    background-image: url("./icons/arrow-away.png");*/
}
.down-button {
    position: absolute;
    bottom: 0px;
    left:25%;
    display: block;
    height: 15%;
    width: 50%;
    opacity: 0.8;
/*    background-image: url("./icons/arrow-away.png");*/
}
.away-button {
    position: absolute;
    top: 0px;
    left:0%;
    display: block;
    height: 15%;
    width: 25%;
    background-image: url("./icons/arrow-away.png");
    background-size: 100% 100%;
    opacity: 0.8;
}

.toward-button {
    position: absolute;
    line-height:
    top: 0px;
    right: 0%;
    display: block;
    height: 15%;
    width: 25%;
    background-image: url("./icons/arrow-toward.png");
    background-size: 100% 100%;
    opacity: 0.8;
}

.cw-button {
    position: absolute;
    bottom: 0px;
    left:1%;
    display: block;
    height: 20%;
    width: 48%;
    transform:scaleY(-1);
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-image: url("./icons/rot-ccw.png");
}

.ccw-button {
    position: absolute;
    bottom: 0px;
    right: 1%;
    display: block;
    height: 20%;
    width: 48%;
    transform:scaleY(-1);
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-image: url("./icons/rot-cw.png");
}

.target-trans {
    position:absolute;
    left:30%;
    top:30%;
    height: 40%;
    width: 40%;
    display: block;
    border-radius: 50%;
/*    background: radial-gradient( rgba(215,43,62,0.7) 5%,  rgba(200,50,50,0.8) 85%, rgba(15,15,15,0.5) 100%);*/
    background-image: url("./icons/arrow-drag.png");
    background-color: rgba(215, 43, 62, 0.85);
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center center;
}

.target-rot {
    position:absolute;
    left:30%;
    top:30%;
    height: 40%;
    width: 40%;
    display: block;
    border-radius: 50%;
    background-image: url("./icons/arrow-rotate.png");
    background-color: rgba(215, 43, 62, 0.85);
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center center;
}
