.position-control {
    
}

.position-control-outer {
    position: absolute;
    background-color: blue;
    border-radius: 50%;
    min-height: 50px;
    max-height: 250px;
    min-width: 50px;
    max-width: 250px;
}

.position-control-center {
    position: relative;
    margin: auto;
    background-color: red;
    border-radius: 50%;
    min-height: 30px;
    max-height: 200px;
    min-width: 30px;
    max-width: 200px;
}

