.look-button{
    background-image: url(icons/look.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.look-button > span{
   position: absolute;
   bottom: 5%;
   padding: 0.15em !important;
}

.cursor-eyes {
    cursor: url(cursors/eyes/eyes.png), auto;
}
.cursor-eyes-left {
    cursor: url(cursors/eyes/eyes-left.png), auto;
}
.cursor-eyes-right {
    cursor: url(cursors/eyes/eyes-right.png), auto;
}
.cursor-eyes-up {
    cursor: url(cursors/eyes/eyes-up.png), auto;
}
.cursor-eyes-down {
    cursor: url(cursors/eyes/eyes-down.png), auto;
}
.cursor-eyes-up-left {
    cursor: url(cursors/eyes/eyes-up-left.png), auto;
}
.cursor-eyes-up-right {
    cursor: url(cursors/eyes/eyes-up-right.png), auto;
}
.cursor-eyes-down-left {
    cursor: url(cursors/eyes/eyes-down-left.png), auto;
}
.cursor-eyes-down-right {
    cursor: url(cursors/eyes/eyes-down-right.png), auto;
}
