body {
    -webkit-touch-callout: none;/*for mobile*/
    -webkit-user-select: none;/*for chrome*/
    -khtml-user-select: none;/*for safari*/
    -moz-user-select: none;/*for Mozilla*/
    -ms-user-select: none;/*for mircosoft*/
    -o-user-select: none;/*for opera*/
    user-select: none;/*base css ,but not work in all browsers*/
    margin: 0px;
}

#left-col {
    position: relative;
    display:inline-block;
    height: 95%;
    width: 20%;
    min-width: 128px;

}


#main-menu {
    display: block;
    height: 40%;
    width: 100%;
}

#main-menu h3 {
    display: block;
    width: 100%;
    text-align: center;
}

.menu-item {
    display:inline-block;
    height: 80px;
    width: 48%;
}

#video-main {
    float: right;
    position: relative;
    height:95%;
}

#markers {
    position: absolute;
    left: 0px;
    top: 0px
}

#controls {
    display:inline-block;
    height: 60%;
    width: 100%;
    min-width: 128px;
}

#controls h3 {
    display: block;
    width: 100%;
    text-align: center;
}


