body {
    margin: 0px;
}

#main-menu {
    display:inline-block;
    height: 60%;
    width: 18%;
    min-width: 164px;
    border: 3px solid black;
}

.menu-item {
    display:inline-block;
    height: 80px;
    width: 80px;
}

#video-main {
    float: right;
    position: relative;
}

#markers {
    position: absolute;
    left: 0px;
    top: 0px
}
