.bpd{
    text-align:center;
    height:80px;
    width:80px;} 

.cont_sel{
    min-height:55px;
    min-width:75px;
    width:100%;}

.vid_sel{
    min-height:30px;
    width:100%
}

.centered{
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:100%;
}

.act_menu{
    text-align:center;
    height:60px;
    width:100px;
}

.shave_acts{
    text-align:center;
    height:60px;
    width:100px;
}

.ar_servo_button{
    height:75px;
    width:150px;
    font-size:150%;
}

.traj_plat_cont{
    height:75px;
    width:150px;
    font-size:150%;
}

#ft_bar_wrapper{
    position: relative;
    background-color:blue;
    width:25px;
    height:450px; 
}

#ft_bar_value{
    position:relative;
    width:100%;
    height:60%;
    background-color:white;
}

.arrow_trans_up{
background-image: url('arrows/translate_up_on.png') !important;
}
.arrow_trans_down{
background-image: url('arrows/translate_down_on.png') !important;
}
.arrow_trans_left{
background-image: url('arrows/translate_left_on.png') !important;
}
.arrow_trans_right{
background-image: url('arrows/translate_right_on.png') !important;
}
.arrow_trans_in{
background-image: url('arrows/translate_in_on.png') !important;
}
.arrow_trans_out{
background-image: url('arrows/translate_out_on.png') !important;
}
.arrow_rot_x_neg{
background-image: url('arrows/rotate_x_neg_on.png') !important;
}
.arrow_rot_x_pos{
background-image: url('arrows/rotate_x_pos_on.png') !important;
}
.arrow_rot_y_neg{
background-image: url('arrows/rotate_y_neg_on.png') !important;
}
.arrow_rot_y_pos{
background-image: url('arrows/rotate_y_pos_on.png') !important;
}
.arrow_rot_z_neg{
background-image: url('arrows/rotate_z_neg_on.png') !important;
}
.arrow_rot_z_pos{
background-image: url('arrows/rotate_z_pos_on.png') !important;
}
