#torsoSlider {
    position: absolute;
    top: 16%;
    height: 68%;
    left: 2%;
    display: none;/* default on startup*/
}

#tallIcon {
    height: 12%;
    width: auto;
    position: absolute;
    top: 2%;
    left: 2%;
    display: none;/* default on startup*/
}

#shortIcon {
    height: 11%;
    width: auto;
    position: absolute;
    bottom: 2%;
    left: 2%;
    display: none;/* default on startup*/
}
