<launch>

    <!--<node pkg="netft_rdt_driver" name="ft9" type="netft_node"-->
          <!--args="192.168.0.125 &#45;&#45;rate 100" respawn="true">-->
        <!--<remap from='netft_data' to='/force_torque_arm' />-->
    <!--</node>-->
    <node pkg="netft_rdt_driver" name="ft8" type="netft_node"
          args="192.168.0.124 --rate 100" respawn="true">
        <remap from='netft_data' to='/force_torque_sleeve' />
    </node>
    <!--
    <node name="rqt_plot_view_sleeve" pkg="rqt_plot" type="rqt_plot" args="/force_torque_arm/wrench/force" />
    <node name="rqt_plot_view_arm" pkg="rqt_plot" type="rqt_plot" args="/force_torque_sleeve/wrench/force" />
    -->
    <node pkg="hrl_dressing"  name="rig_control" type="rig_control.py" output="screen"></node>

</launch>
