<launch>
  <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find pr2_navigation_global)/rviz/move_base.rviz">
  </node>
  <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
    <remap from="voxel_grid" to="move_base_node/local_costmap/voxel_grid_throttled"/>
  </node>
</launch>
