<launch>
  <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find hrl_base_selection)/launch/move_base.rviz" output="screen">
  </node>
  <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer" output="screen">
    <remap from="voxel_grid" to="move_base_node/local_costmap/voxel_grid_throttled"/>
  </node>
</launch>
