#battery-status{
    display: inline-block;
    float: right;
    margin-right: 8px;
    height: 100%;
    width: 100px;
    background-color: rgba(0,0,0,0);
    position: relative;
}

#battery-status .battery-contact{
    height: 50%;
    width: 15%;
    position:absolute;
    top: 25%;
    left:0%;
    background-color: yellow; /*Default to warning color. Should be overwritten when state is updated"*/
}

#battery-status .battery-main{
    height: 100%;
    width: 85%;
    position: absolute;
    left:15%;
    background-color: yellow; /* Default to warning color. Overwitten on state update."*/
}

.charge-bolt{
    display: none; 
    height: 90%;
    width: 20%;
    position: absolute;
    top:5%;
    left:5%;
}

.charge-bolt .triangle{
    position: absolute;
    height: 60%;
    width: 65%;
}

.charge-bolt .tri-up{
    top: 0%;
    left: 0%;
    background: linear-gradient(to top left,
    black 50%,
    rgba(0,0,0,0) 50%)
}

.charge-bolt .tri-down{
    bottom: 0%;
    right:0%;
    background: linear-gradient(to bottom right,
    black 50%,
    rgba(0,0,0,0) 50%)
}

#battery-status span{
    position: absolute;
    top: 7%;
    left: 28%;
    font-size: 24px;
}
