.drive-ctrl {
    display: none; /*Initialize hidden*/
}

.tuck-driving {
    margin: 0% 10%;
    padding: 0.25em;
}

h4.drive-ctrl {
    display:none;
    margin-top:0em;
}

/*.drive-look {
    position: absolute;
    bottom:0%;
    height:13%;
    width:8%;
    background-color: rgba(235,235,235,0.35);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid rgba(235,235,235,0.7);
    border-bottom:none;
}

.drive-look:hover{
    background-color: rgba(235,235,235,0.5);
    border: 2px solid rgba(235,235,235,0.87);
    border-bottom:none;
}

.drive-look:active{
    background-color: rgba(155,155,155,0.65);
    border: 2px solid rgba(255,255,255,0.97);
    border-bottom:none;
}

.drive-look.left {
    left:0em;
    background-image: url('./cursors/eyes/eyes-left.png');
}

.drive-look.right {
    right:0em;
    background-image: url('./cursors/eyes/eyes-right.png');
}
*/
#drive-lines {
    position: absolute;
    left: 0%;
    top:0%;
    width:100%;
    height:100%;
    display:none;
}

#drive-lines circle {
    fill-opacity: 1.0;
}

#drive-lines>*{
    pointer-events: none;
}

.turn-signal{
    position:absolute;
    bottom:0px;
    height:13%;
    border: 2px solid rgba(0,188,212,0.55);
    border-bottom:none;
    background-color: rgba(0,188,212,0.3);
    z-index: 10;
}

.turn-signal:hover{
    background-color: rgba(0,188,212,0.6);
    border: 2px solid rgba(0,188,212,0.45);
    border-bottom:none;
}

.turn-signal:active{
    background-color: rgba(10,212,242,0.55);
    border: 2px solid rgba(0,142,168,0.9);
    border-bottom:none;
}

.turn-signal > span.label {
    font-size:1.3em;
    width:100%;
    position: absolute;
    bottom:10%;
    text-align:center;
    pointer-events:none;
}

.turn-signal.left {
    left:0%;
    width:23%;
    border-left:none;
    border-top-right-radius:1em;
}

.turn-signal.right {
    right:0%;
    width:25%;
    border-right:none;
    border-top-left-radius:1em;
}

#drive-dir-icon{
    height:auto;
    width:100%;
}

#drive-dir-icon text { 
    pointer-events: none;
}

#drive-dir-icon path {
    stroke-width: 0.5;
    stroke: rgb(33,150,243);
    stroke-opacity: 0.87;
    fill: rgb(40, 202, 218);
    fill-opacity:0.75;
}

#drive-dir-icon path.left {
    cursor: url(cursors/eyes/eyes-left.png) 27 16, auto;
}

#drive-dir-icon path.right {
    cursor: url(cursors/eyes/eyes-right.png) 27 16, auto;
}

#drive-dir-icon path.forward {
    cursor: url(cursors/eyes/eyes-up.png) 27 16, auto;
}

#drive-dir-icon path.back-right {
    cursor: url(cursors/eyes/eyes-down-right.png) 27 16, auto;
}

#drive-dir-icon path.back-left {
    cursor: url(cursors/eyes/eyes-down-left.png) 27 16, auto;
}

#drive-dir-icon path:hover {
    stroke-width: 0.7;
    stroke: rgb(13,130,213);
    fill: rgb(30, 220, 250);
    fill-opacity:0.57;
}

#drive-dir-icon path:active {
    stroke-width: 0.7;
    stroke: rgb(3, 80, 150);
    fill: rgb(80, 240, 255);
    fill-opacity:0.75;
}
