.camera-swing{
    display:block;
    margin:0% 10%;
    padding: 0.25em;
}
.pick-and-place {
    display:block;
    margin:0% 10%;
    padding: 0.25em;
}

.tuck-side {
    display:block;
    margin:0% 10%;
    padding: 0.25em;
}

.arm-cam {
    display:block;
    margin:0% 10%;
    padding: 0.25em;
}

#touchspot-toggle-label {
    display: block;
    margin: 0% 10%;
}

#arm-svg {
    display:none;
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}

#select-focus-toggle-label{
    width: 80%;
    margin-left: 10%;
}

#speedOptions {
    display:none; /* Do not display initially */
    margin-left: 2%;
}

#speedOptions label{
    width: 24%;
}

#speedOptions-buttons .ui-button-text{
   padding: 0.14em 0.14em; 
   font-size: 1.0em;
}

#speedOptions-buttons{
    width: 100%;
}

#speedOptions-form{
    width: 100%;
}

.posrot-set label{
    width: 48%;
    margin-bottom: 0.3em;
}

.posrot-set .ui-button-text{
    padding: 0.2em 1em;
}

.posrot-set{
    margin-left:5%;
}

#away-button {
   position: absolute;
   left: 31.7%;
   top: 11.2%;
   height: 16%;
   width: 36%;
   -webkit-clip-path: circle( 120% at center 235%);
   opacity: 0.5;
   background-image: url('./icons/arrow-away-3d.png');
   background-size: 75% 60%;
   background-position: 50% 85%;
   background-repeat: no-repeat;
}

#toward-button {
   font-size: x-large;
   position: absolute;
   left: 31.6%;
   bottom: 12%;
   height: 16%;
   width: 36%;
   -webkit-clip-path: circle( 120% at center -134%);
   opacity: 0.5;
   background-image: url('./icons/arrow-toward-3d.png');
   background-size: 70% 60%;
   background-position: 50% 20%;
   background-repeat: no-repeat;
}

#ctrl-ring > .arrow{
    position: absolute;
    height: 0px;
    width: 0px;
    cursor: pointer;
    pointer-events:none;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 20px solid rgba(76, 48, 19, 0.87);
}

#ctrl-ring > .arrow.big{
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 30px solid rgba(76, 48, 19, 0.87);
}
#ctrl-ring > .arrow.small{
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 10px solid rgba(76, 48, 19, 0.87);
}

#ctrl-ring:hover > .arrow{
    border-bottom: 20px solid rgba(69, 60, 20, 0.75);
}

#ctrl-ring:hover > .arrow.big{
    border-bottom: 30px solid rgba(69, 60, 20, 0.75);
}

#ctrl-ring:hover > .arrow.small{
    border-bottom: 10px solid rgba(69, 60, 20, 0.75);
}

#ctrl-ring.active > .arrow{
    border-bottom: 20px solid rgba(0, 116, 199, 0.5);
}

#ctrl-ring.active > .arrow.big{
    border-bottom: 30px solid rgba(0, 116, 199, 0.5);
}

#ctrl-ring.active > .arrow.small{
    border-bottom: 10px solid rgba(0, 116, 199, 0.5);
}

#ctrl-ring > .arrow.n{
    transform: rotateZ(0deg);
    top: 5%;
    left: calc(50% - 15px);
}
#ctrl-ring > .arrow.ne{
    transform: rotateZ(45deg);
    top: 18%;
    right: 18%
}
#ctrl-ring > .arrow.e{
    transform: rotateZ(90deg);
    top: calc(50% - 10px);
    right: 5%;
}
#ctrl-ring > .arrow.se{
    transform: rotateZ(135deg);
    bottom: 18%;
    right: 18%;
}
#ctrl-ring > .arrow.s{
    transform: rotateZ(180deg);
    bottom: 5%;
    left: calc(50% - 15px);
}
#ctrl-ring > .arrow.sw{
    transform: rotateZ(225deg);
    bottom: 18%;
    left: 18%;
}
#ctrl-ring > .arrow.w{
    transform: rotateZ(270deg);
    top: calc(50% - 10px);
    left: 5%;
}
#ctrl-ring > .arrow.nw{
    transform: rotateZ(315deg);
    top: 18%;
    left: 18%;
}


#armCtrlContainer > .center{
    position:absolute;
    top:15%;
    left:15%;
    height: 70%;
    width:70%;
    border-radius: 50%;
    cursor: default;
}

#ctrl-ring:active{
    border:solid 1px rgba(0,0,0,0.94);
    box-shadow: inset 0px 2px 0px #888888;
    background: radial-gradient(closest-side, 
    rgba(0,0,0,0) 70%,
    rgba(0, 0, 0, 0.25) 70%,
    rgba(255, 245, 206, 0.30) 71%,
    rgba(255, 2250, 245, 0.30) 100%);    
}

#ctrl-ring:hover {
    border: 1px solid #d19405;
    box-shadow: 0px 2px 0px  #888888;
    background: radial-gradient(closest-side, 
    rgba(0,0,0,0) 70%,
    rgba(209, 148, 5, 0.2) 0%,
    rgba(255, 233, 146, 0.35) 71%,
    rgba(255, 226, 111, 0.38) 100%);   
}

#ctrl-ring {
    border: 1px solid #d19405;
    box-shadow: 0px 2px 0px  #888888;
    background: radial-gradient(closest-side, 
    rgba(0,0,0,0) 70%,
    rgba(209, 148, 5, 0.2) 0%,
    rgba(254, 206, 47, 0.35) 71%,
    rgba(255, 226, 111, 0.38) 100%);   
}

#ctrl-ring {
    position: absolute;
    top:calc(1% - 1px);
    left:calc(1% - 1px);
    height: calc(98% - 2px);
    width: calc(98% - 2px);
    border-radius:50%;
    cursor: pointer;
}

#armCtrlContainer {
    height: 100%;
    width: 56.25%;
    position: absolute;
    left: 21.875%;    
    bottom: 0%;
    transition: transform 0.3s ease;
}

.cart-ctrl-container {
    position: absolute;
    bottom: 60px;
    width: 60%;
    height: 60%;
    top:20%;
    left:20%;
}
