.startButton {
    display: block;
    position: relative;
    left: 38%;
    width:24%;
    height:8%;
    bottom: 0%;
}

.red {
    color: red;
}

.target {
    background-color: red;
}

form, h2, h3, p {
    text-align: center;
}

.sphere {
    border-radius:50%;
}

#testArea{
    height: 100%;
    width: 100%;
    background-color:LightGray;
}
