img.focus-point {
    position: absolute;
    height: 5%;
}

.depth-mask {
    position: absolute;
    height: 100%;
    top: 0%;
    cursor: not-allowed;
    background-color: rgba(0,0,0,0.87);
    display: none; /* Hide initially */
}

#depthMaskLeft {
    left: 0px;
    width: 12.1%;
}

#depthMaskRight {
    right: 0px;
    width: 11.5%;
}
