#status-bar {
    width:100%;
    height: 0px;
    background-color:rgba(0,0,0,0.87);
}

#notifications {
    display: inline-block;
    font-size: 22px;
    max-width: 87%;
    color:rgba(255,255,255,0.87);
    margin: 0.1em 1em;
    overflow: hidden;
    white-space: nowrap;
}

#network-status{
    display: inline-block;
    float: right;
    height: 100%;
    width: 5%;
    min-width: 20px;
    background-color: rgba(0,0,255,0.87);
}

#util-bar {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: rgba(100, 100, 100, 1);
}

#runstop-button {
    position: absolute;
    top: 5%;
    height: 90%;
    color: rgba(0,0,0,0.87);
    max-width: 49%;
}

#runstop-button > span {
    font-size: 20px;
    padding: 3% 0%;
}

.motors-halted {
    position: fixed;
    top:0;
    left:0;
    display: block;
    font-size:6em;
    text-align:center;
    background-color:rgba(180,180,180,0.46);
}

#image-cover {
    z-index:50;
    display: none;
    pointer-events:none;
}

.connection-lost {
    position: fixed;
    top:0;
    left:0;
    display: block;
    font-size:10em;
    text-align:center;
    background-color:rgba(100,100,100,0.76);
}
