#status-bar {
    width:100%;
    height: 0px;
    background-color:rgba(0,0,0,0.87);
}

#notifications {
    display: inline-block;
    font-size: 22px;
    max-width: 87%;
    color:rgba(255,255,255,0.87);
    margin: 0.1em 1em;
    overflow: hidden;
    white-space: nowrap;
}

#network-status{
    display: inline-block;
    float: right;
    height: 100%;
    width: 5%;
    min-width: 20px;
    background-color: rgba(0,0,255,0.87);
}

#util-bar {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 256px;

    background-color: rgba(100, 100, 100, 1);
}

#runstop-button {
    position: absolute;
    top: 5%;
    height: 90%;
    color: rgba(0,0,0,0.87);
    max-width: 55%;
}

#runstop-button > span {
    font-size: 20px;
    padding: 3% 0%;
}
