body {
    -webkit-touch-callout: none;
    /*for mobile*/
    -webkit-user-select: none;
    /*for chrome*/
    -khtml-user-select: none;
    /*for safari*/
    -moz-user-select: none;
    /*for Mozilla*/
    -ms-user-select: none;
    /*for mircosoft*/
    -o-user-select: none;
    /*for opera*/
    user-select: none;
    /*base css ,but not work in all browsers*/
    margin: 0;
    overflow: hidden;
    background-color: rgba(51, 81, 112, 1); /* GT BLUE */
}

#left-col {
    background-color: #555555;
    background-color: rgba(30,30,30,0.3);
    float: left;
    height: 100%;
    width: 200px;
    position: relative;
    z-index:100;
    left: 0;
}

#left-col-small {
    height: 100%;
    left:0;
    position:absolute;
    width: 80px;
    z-index: 99;
}

div.left-col-accordion > .ui-accordion-content {
    padding:0;
    padding-bottom:0.3em;
    width:99%;
}

.menu-item {
    display: inline-block;
    height: 40px;
    width: 48%;
    margin: 2px 0.5%;
}

.menu-item span.ui-button-text {
    padding: 0.5em 0.0em;
}

#video-main {
    overflow: hidden;
    position: absolute;
    right: 0;
}

#viewer-canvas {
    display:none;
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}

.cursor-wait {
    cursor: wait !important;
}

#controls h3 {
    display: block;
    font-size: 1.4em;
    width: 100%;
    text-align: center;
    margin-bottom: 0.3em;
}

#controls h4 {
    font-size: 1.2em;
    width: 100%;
    margin: 0.8em 0.1em 0.1em 0.1em;
    text-align: center;
}

.no-cursor {
    cursor: none !important;
}
