#smach-container {
    display: block;
    position: absolute;
    top: 1%;
    left: 1%;
    width: auto;
    height: auto;
    z-index:20;
    pointer-events:none;
}
.smach-state {
    font-size: x-large;
    line-height: 40px;
    display: inline;
    white-space: pre;
    position: static;
    float: left;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-radius: 15px;
    text-align: center;
    height: 40px;
    transition: background-color 1.0s ease, font-weight 1.0s ease, color 1.0s ease;
    pointer-events:auto;
}
.smach-state.active {
    background-color: hsla(130, 100%, 50%, 0.75);
    border-color: hsla(0, 100%, 0%, 0.75);
    color: hsla(0, 0%, 0%, 0.9);
    cursor: pointer;
}
.smach-state.incomplete {
    background-color: hsla(130, 40%, 70%, 0.75);
    border-color: hsla(0, 100%, 0%, 0.75);
    color: hsla(0, 0%, 0%, 0.5);
    cursor: not-allowed;
}
.smach-state.complete {
    background-color: hsla(130, 70%, 30%, 0.75);
    border-color: hsla(0, 100%, 0%, 0.75);
    color: hsla(0, 0%, 0%, 0.5);
    overflow:hidden;
/*    width: 5%;*/
    cursor: pointer;
}
.smach-state-separator {
    float: left;
    position: relative;
    top: 15px;
    background-color: rgba(0, 0, 0, 0.75);
    height: 20px;
    width: 5px;
}

.smach-state.cancel {
    background-color: rgba(75%, 3%, 2%, 0.85);
    border-color: rgba(87%, 5%, 8%, 0.65);
    color: hsla(0, 0%, 0%, 0.9);
    margin-left:0.4em;
    cursor: pointer;
    transition:none;
}

.smach-state.cancel:hover {
    background-color: rgba(95%, 3%, 2%, 0.95);
    border-color: rgba(90%, 2%, 3%, 0.9);
    font-weight:bold;
}

.smach-state.cancel:active {
    background-color: rgba(72%, 9%, 12%, 0.8);
    border-color: rgba(80%, 5%, 8%, 0.7);
}
