#task-menu > form > label{
    display:block;
    font-size:1.2em;
    font-weight:bold;
    text-align:center;
}

#task-menu > form > .ui-selectmenu-button {
    width:90% !important;
    left:5%;
    position:relative;
}

#start-task-button {
    margin-top: 10%;
}
