<launch>
  <!-- load perception -->
  <include file="$(find pr2_arm_navigation_perception)/launch/laser-perception.launch"/>
  <!-- load planning -->
  <include file="$(find hrl_anomaly_detection)/launch/ompl_planning.launch"/>

  <!-- load move_arm -->
  <include file="$(find pr2_arm_navigation_actions)/launch/move_right_arm.launch"/>

  <!-- load planning_environment -->
  <include file="$(find pr2_arm_navigation_config)/launch/pr2_planning_environment.launch"/>

  <!-- load controllers -->
  <include file="$(find pr2_arm_navigation_filtering)/launch/trajectory_filter.launch"/>

  <!-- load ik -->
  <include file="$(find pr2_arm_navigation_kinematics)/launch/right_arm_collision_free_ik.launch"/>

</launch>
