
<launch>

    <group ns="feeding" >
      <arg name="ad_param" default="$(find hrl_anomaly_detection)/params/anomaly_detection_feeding.yaml" />    
      <rosparam command="load" file="$(arg ad_param)" />

      <node name="anomaly_detector" pkg="hrl_anomaly_detection"
            type="anomaly_detector.py" args="--task feeding --dim 4
                                             --m progress_time_cluster
                                             --au --sim --cr
                                             "
            output="screen" />
    </group>


</launch>


