<launch>

        <!-- makes unfiltered results -->
	<node name="findMouth" pkg="hrl_manipulation_task"
              type="mouth_pose_detector.py" args="-l
                                                  /SR300_rgb_optical_frame
                                                  -r
                                                  /SR300/rgb/image_raw
                                                  -d
                                                  /SR300/depth_registered/sw_registered/image_rect
                                                  -R
                                                  /SR300/rgb/camera_info
                                                  -D
                                                  /SR300/depth_registered/sw_registered/camera_info
                                                  -s 1 --flip
                                                  --rgb_mode rgb8" output="screen"/>

        <!-- for filtering -->
        <node name="findMouthFilter" pkg="hrl_manipulation_task" type="mouth_pose_filter.py"/>
</launch>
