
<launch>
  <!-- Run this launcher on a machine connected with a camera and a microphone-->
  <!--rosparam command="load" file="$(find hrl_manipulation_task)/params/anomaly_detection.yaml" /-->

  <node name="findMouth" pkg="hrl_manipulation_task"
        type="mouth_pose_detector.py" args="-l
                                            /SR300_rgb_optical_frame
                                            -r
                                            /SR300/rgb/image_raw
                                            -d
                                            /SR300/camera/depth_registered/image
                                            -R
                                            /SR300/rgb/camera_info
                                            -D
                                            /SR300/camera/depth_registered/camera_info
                                            -s 0.001 --flip
                                            --rgb_mode rgb8" output="screen"/>

  <!-- Audio (wrist) -->
  <node name="pubWristAudio" pkg="hrl_manipulation_task" type="pubWristAudio.py" respawn="true" output="screen"  />

  <!-- for filtering -->
  <node name="findMouthFilter" pkg="hrl_manipulation_task" type="mouth_pose_filter.py"/>

</launch>
