<launch>
  <group ns="left">
    <arg name="arm" default="l"/>
    <node pkg="pr2_arm_kinematics" type="pr2_arm_kinematics_node" name="pr2_left_arm_kinematics" output="screen">
      <param name="tip_name" value="l_gripper_spoon_frame" />
      <param name="root_name" value="torso_lift_link" />
    </node>
    <rosparam command="load" file="$(find hrl_feeding_task)/params/mpc_params_pr2.yaml" />
    <rosparam command="load" file="$(find hrl_feeding_task)/params/pr2_config_params_l.yaml" />
    <node name="arm_movement_tests" pkg="hrl_feeding_task" type="arm_movement_tests.py" args="-a $(arg arm)" output="screen" />
  </group>
</launch>
