<launch>

    <arg name="arm1" default="l"/>

    <node pkg="pr2_arm_kinematics" type="pr2_arm_kinematics_node" name="pr2_left_arm_kinematics" output="screen">
      <param name="tip_name" value="l_gripper_spoon_frame" />
      <param name="root_name" value="torso_lift_link" />
    </node>

    <rosparam command="load" file="$(find hrl_feeding_task)/params/mpc_params_pr2.yaml" />
    <rosparam command="load" file="$(find hrl_feeding_task)/params/pr2_config_params_l.yaml" />
    <node name="arm_server" pkg="hrl_feeding_task" type="arm_reacher_server.py" args="-a $(arg arm1)" output="screen"/>

    <!----------------------------------------------------------------->


  <group ns="right" >
    <arg name="arm2" default="r"/>

    <node pkg="pr2_arm_kinematics" type="pr2_arm_kinematics_node" name="pr2_right_arm_kinematics" output="screen">
      <param name="tip_name" value="r_gripper_tool_frame" />
      <param name="root_name" value="torso_lift_link" />
    </node>

    <rosparam command="load" file="$(find hrl_feeding_task)/params/mpc_params_pr2.yaml" />
    <rosparam command="load" file="$(find hrl_feeding_task)/params/pr2_config_params_r.yaml" />
    <node name="arm_server" pkg="hrl_feeding_task" type="arm_reacher_helper_right.py" args="-a $(arg arm2)" output="screen"/>
  </group>


</launch>

<!--group ns="right" >

  <rosparam command="load" file="$(find hrl_anomaly_detection)/params/mpc_params_pr2.yaml" />
  <rosparam command="load" file="$(find hrl_anomaly_detection)/params/pr2_config_params_r.yaml" />

  <node name="arm_server" pkg="hrl_feeding_task" type="arm_reacher_server.py" args="-a $(arg arm1)" output="screen"/>

</group-->

<!--group ns="left" >

  <rosparam command="load" file="$(find hrl_anomaly_detection)/params/mpc_params_pr2.yaml" />
  <rosparam command="load" file="$(find hrl_anomaly_detection)/params/pr2_config_params_r.yaml" />

  <node name="arm_server" pkg="hrl_feeding_task" type="arm_reacher_server.py" args="-a $(arg arm1)" output="screen"/>

</group-->
