<launch>
  <arg name="kinect_points" default="/head_mount_kinect/depth_registered/points" />
  <arg name="kinect_camera" default="/head_mount_kinect/rgb/image_color" />

  <include file="$(find pr2_machine)/$(env ROBOT).machine" />

  <include file="$(find hrl_feeding_task)/launch/cupFinder_Kinect1.launch" />

  <!-- Rosbridge, Rosapi, Webserver (roswww), and mjpeg_server -->
  <node name="rosbridge" pkg="rosbridge_server" type="rosbridge.py" output="screen">
      <param name="port" type="int" value="9091" />
  </node>
  
  <node name="rosapi" pkg="rosapi" type="rosapi.py" output="screen"/>

  <rosparam> 'http/default': 8000 </rosparam>
  <node name="roswww" pkg="roswww" type="webserver.py" output="screen"/>

  <node pkg="mjpeg_server" type="mjpeg_server"  name="mjpeg_server" output="screen">
      <param name="port" type="int" value="8080" />
  </node>

  <!-- Pixel_2_3d: Returns PoseStamped with point and normal from click on image with kinect -->
  <node name="pixel_2_3d" pkg="pixel_2_3d" type="pixel_2_3d" machine="c1" output="screen" >
      <remap from="image" to="$(arg kinect_camera)" />
      <remap from="point_cloud" to="$(arg kinect_points)" />
      <param name="normal_radius" type="double" value="0.035" />
      <param name="use_closest_pixel"  value="True"/>
  </node>

  <!-- Throttling nodes for robot state -->
  <node name="torso_state_throttle" pkg="topic_tools" type="throttle"
        args="messages /torso_controller/state 2 /torso_controller/state_throttled" />

  <node name="head_state_throttle" pkg="topic_tools" type="throttle"
        args="messages /head_traj_controller/state 4 /head_traj_controller/state_throttled" />

  <node name="r_gripper_state_throttle" pkg="topic_tools" type="throttle"
        args="messages /r_gripper_controller/state 1 /r_gripper_controller/state_throttled" />

  <node name="l_gripper_state_throttle" pkg="topic_tools" type="throttle" 
        args="messages /l_gripper_controller/state 1 /l_gripper_controller/state_throttled" />

</launch>
