<launch>

    <group ns="pddl_tasks">
        <group ns="pick" clear_params="true">
            <param name="domain" textfile="$(find hrl_task_planning)/params/pick.domain"/>
            <rosparam command="load" file="$(find hrl_task_planning)/params/pick.yaml"/>
            <node name='known_loc_monitor' pkg="hrl_task_planning" type="known_location_monitor" output="screen" args="pick CHOSEN-OBJ -a RIGHT_HAND_OBJECT LEFT_HAND_OBJECT"/>
            <node name='grasp_state_monitor_right' pkg="hrl_task_planning" type="grasping_monitor" output="screen" args="-d pick -s right"/>
            <node name='grasp_state_monitor_left' pkg="hrl_task_planning" type="grasping_monitor" output="screen" args="-d pick -s left"/>
        </group>
    </group>

</launch>
