<launch>

    <arg name="domain" value="place"/>
    <group ns="pddl_tasks">
        <group ns="$(arg domain)" clear_params="true">
            <param name="domain" textfile="$(find hrl_task_planning)/params/$(arg domain).domain"/>
            <rosparam command="load" file="$(find hrl_task_planning)/params/$(arg domain).yaml"/>
            <node name='parameter_monitor' pkg="hrl_task_planning" type="parameter_monitor" output="screen" args="$(arg domain) KNOWN -a PLACE_LOC"/>
            <node name='grasp_state_monitor_right' pkg="hrl_task_planning" type="grasping_monitor" output="screen" args="-d $(arg domain) -s right"/>
            <node name='grasp_state_monitor_left' pkg="hrl_task_planning" type="grasping_monitor" output="screen" args="-d $(arg domain) -s left"/>
        </group>
    </group>

</launch>
