<launch>

    <include file="$(find hrl_task_planning)/launch/adl.launch" />

    <node name="task_planner" pkg="hrl_task_planning" type="pddl_planner" output="screen" args="$(find hrl_task_planning)/src/ff"/>
    <node name="task_smacher" pkg="hrl_task_planning" type="task_smacher" output="screen" />
    <node name="domain_state_aggregator" pkg="hrl_task_planning" type="domain_state_aggregator" output="screen" args="-d adl"/>

</launch>
