<launch>

    <group ns="pddl_tasks">
        <group ns="wiping_mouth_adl" clear_params="true">
            <param name="domain" textfile="$(find hrl_task_planning)/params/wiping_mouth_adl.domain"/>
            <rosparam command="load" file="$(find hrl_task_planning)/params/wiping_mouth_adl.yaml"/>
            <node name='ar_tag_find_monitor' pkg="hrl_task_planning" type="ar_tag_find_monitor.py" output="screen" args="-d wiping_mouth_adl"/>
            <node name='ar_tag_tracking_monitor' pkg="hrl_task_planning" type="ar_tag_tracking_monitor.py" output="screen" args="-d wiping_mouth_adl"/>
            <node name='torso_config_monitor' pkg="hrl_task_planning" type="torso_config_monitor.py" output="screen" args="-d wiping_mouth_adl"/>
            <node name='bed_config_monitor' pkg="hrl_task_planning" type="bed_config_monitor.py" output="screen" args="-d wiping_mouth_adl"/>
            <node name='bed_torso_config_monitor' pkg="hrl_task_planning" type="bed_torso_config_monitor.py" output="screen" args="-d wiping_mouth_adl"/>
            <node name='move_base_monitor' pkg="hrl_task_planning" type="move_base_monitor.py" output="screen" args="-d wiping_mouth_adl"/>
            <node name='reach_arm_monitor' pkg="hrl_task_planning" type="reach_arm_monitor.py" output="screen" args="-d wiping_mouth_adl"/>
        </group>
    </group>

</launch>
